.header {
  // background-color: red;
  border-bottom: 1px solid yellow;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.title {
  display: flex;
  position: relative;
}

.title-text {
  font-weight: 500;
  font-size: 35px;
  // text-transform: uppercase;
}

.title-comment {
  position: absolute;
  left: 75px;
  top: 5px;

  font-weight: 500;
  font-size: 12px;
  // text-transform: uppercase;
}
