@import "../../styles/variables";
@import "../../styles/mixins";

.calendar {
  display: flex;
  position: relative;
}

// .rooms {
//   width: 120px;
//   margin-right: 20px;
// }

.days {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  margin-left: 20px;

  // &::after {
  //   content: "";
  //   // z-index: 1100;
  //   position: absolute;
  //   top: 0;
  //   left: 140px;
  //   width: calc(100% - 140px);
  //   height: 100%;
  //   background: linear-gradient(
  //     to right,
  //     #1d2533,
  //     transparent 10%,
  //     transparent 90%,
  //     #1d2533
  //   );
  // }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-chambray;
    border-radius: 5px;
  }

  /* Define the track style */
  &::-webkit-scrollbar-track {
    background-color: #ddd;
    border: 1px solid #ccc;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
