@import "../../styles/variables";
@import "../../styles/mixins";

.form-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid $color-ship-cove;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: $color-white-lilac;

  &:focus {
    outline: 1px solid $color-white-lilac;
  }

  &:disabled {
    background-color: $color-transparent;
    border: 2px solid $color-midnight-express;
  }
}

.button {
  background-color: $color-ship-cove;
  width: 100%;
  color: $color-white-lilac;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all $trans-default;

  &:hover {
    background-color: $color-chambray;
  }

  &:disabled {
    background-color: $color-transparent;
    cursor: default;
  }
}

.success__created {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;

  background-color: $color-ocean-green;

  color: $color-bunting;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  a {
    font-weight: 700;
    color: $color-bunting;
    text-decoration: underline;
  }
}

.error__created {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;

  background-color: $color-night-shadz;

  color: $color-hawkes-blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
